body {
    background: rgb(113, 19, 105);
}

#game {
    position: fixed;
    left: 24vw;
    width: 640px;
    height: 640px;
    background-image: url(./assets/Synthwave-taxi-bg.png);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px gold;
}

#road {
    position: relative;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

#car {
    height: 100px;
    position: absolute;
    bottom: 25px;
    left: 295px;
    background: rgba(255, 255, 255, 0.23);
}

.animate {
    animation: jump 500ms;
}

@keyframes jump {
    0%{bottom: 25px;}
    40%{bottom: 125px;}
    60%{bottom: 125px;}
    100%{bottom: 25px;}
}

#other-car-1 {
    width: 10px;
    height: 10px;
    background: yellow;
    position: absolute;
    bottom: 374px;
    left: 281px;
    /* animation: slide1 3s infinite linear; */
}

@keyframes slide1 {
    0% {
        bottom: 374px;
    }
    98% {
        left: 115px;
        bottom: 25px;
        width: 50px;
        height: 100px;
    }
    100% {
        width: 50px;
        height: 100px;
        left: 115px;
        bottom: -150px;
    }
}

#other-car-2 {
    width: 10px;
    height: 10px;
    background: yellow;
    position: absolute;
    bottom: 374px;
    left: 298px;
    /* animation: slide2 3s infinite linear; */
}

@keyframes slide2 {
    0% {
        bottom: 374px;
    }
    98% {
        left: 205px;
        bottom: 25px;
        width: 50px;
        height: 100px;
    }
    100% {
        left: 205px;
        bottom: -150px;
        width: 50px;
        height: 100px;
    }
}

#other-car-3 {
    width: 10px;
    height: 10px;
    background: yellow;
    position: absolute;
    bottom: 374px;
    left: 315px;
    /* animation: slide3 3s infinite linear; */
}

@keyframes slide3 {
    0% {
        bottom: 374px;
    }
    98% {
        left: 295px;
        bottom: 25px;
        width: 50px;
        height: 100px;
    }
    100% {
        left: 295px;
        bottom: -150px;
        width: 50px;
        height: 100px;
    }
}

#other-car-4 {
    width: 10px;
    height: 10px;
    background: yellow;
    position: absolute;
    bottom: 374px;
    left: 332px;
    /* animation: slide4 3s infinite linear; */
}

@keyframes slide4 {
    0% {
        bottom: 374px;
    }
    98% {
        left: 386px;
        bottom: 25px;
        width: 50px;
        height: 100px;
    }
    100% {
        left: 386px;
        bottom: -150px;
        width: 50px;
        height: 100px;
    }
}

#other-car-5 {
    width: 10px;
    height: 10px;
    background: yellow;
    position: absolute;
    bottom: 374px;
    left: 349px;
    /* animation: slide5 3s infinite linear; */
}

@keyframes slide5 {
    0% {
        bottom: 374px;
    }
    98% {
        left: 476px;
        bottom: 25px;
        width: 50px;
        height: 100px;
    }
    100% {
        left: 476px;
        bottom: -150px;
        width: 50px;
        height: 100px;
    }
}

#intro-container {
    z-index: 900;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(111, 23, 242, 0.405);
}

#restart-game {
    z-index: 900;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(111, 23, 242, 0.405);
}

.hidden {
    display: none;
}

#instructions {
    z-index: 999;
    position: fixed;
    width: 60vw;
    top: 5vh;
    left: 15vw;
    padding: 50px;
    background: purple;
    color: gold;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(251, 0, 255, 0.511);
}

.game-title {
    text-align: center;
    width: 100%;
    font-family: Permanent Marker;
}

#game-instruction {
    margin-bottom: 20px;
}

#start-button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-family: Permanent Marker;
    background: gold;
    outline: none;
    border: 1px solid black;
}

.lane1 {
    width: 75px;
    background: transparent;
    background-image: url('./assets/lane1.png');
    background-position: center;
}

.lane2 {
    width: 50px;
    background: transparent;
    background-image: url('./assets/lane2.png');
    background-position: center;
}

.lane3 {
    width: 50px;
    background: transparent;
    background-image: url('./assets/lane3.png');
    background-position: center;
}

.lane4 {
    width: 50px;
    background: transparent;
    background-image: url('./assets/lane4.png');
    background-position: center;
}

.lane5 {
    width:60px;
    background: transparent;
    background-image: url('./assets/lane5.png');
    background-position: center;
}

#links-container {
    position: fixed;
    top: 0px;
    height: fit-content;
    width: fit-content;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

#links-container a:nth-child(2) {
    position: relative;
    top: -3px;
}

.fa-github-square, .fa-linkedin {
    font-size: 40px;
}

.fa-angellist {
    position: relative;
    font-size: 32px;
    border: 1px solid darkviolet;
    padding: 2px;
    border-radius: 3px;
}

#right-side {
    margin-right: 1.5%;
    position: relative;
    top: 20vh;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background: rgba(245, 245, 245, 0.305);
    border-radius: 5px;
}


#left-side {
    margin-left: 1.5%;
    position: relative;
    top: 20vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background: rgba(245, 245, 245, 0.305);
    border-radius: 5px;
}

#controls-header {
    color: white;
}

.fa-keyboard {
    font-size: 50px;
}


#switches {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#keys {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#A {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: Permanent Marker;
    color: white;
    margin-right: 5px;
}

#D {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: Permanent Marker;
    color: white;
    margin-left: 5px;
}

#space-mech {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#space {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Permanent Marker;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 65%;
    text-align: center;
}

#jump {
    color: gold;
    font-family: Permanent Marker;
}

#switch-left {
    color: gold;
    font-family: Permanent Marker;
}

#switch-right {
    color: gold;
    font-family: Permanent Marker;
}

#about-game {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}